@tailwind base;
@tailwind components;
@tailwind utilities;

h5 {
  font-family: "Dongle", sans-serif;
}

h6 {
  font-family: "Dongle", sans-serif;
}
h3 {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
}

.search-bar {
  font-family: "Dongle", sans-serif;
}
.category-links {
  font-family: "Dongle", sans-serif;
}
span {
  font-family: "Dongle", sans-serif;
}
.span-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.drop-text {
  font-family: "Dongle", sans-serif;
}
.heading-text {
  font-family: "Roboto", sans-serif;
}
.contact-no {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.contact-text {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
}
/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Set the background color */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the background color */
  border-radius: 4px; /* Make the thumb rounded */
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
