@tailwind base;
@tailwind components;
@tailwind utilities;

h5 {
  font-family: "Roboto", sans-serif;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.search-bar {
  font-family: "Roboto", sans-serif;
}
.category-links {
  font-family: "Roboto", sans-serif;
}
span {
  font-family: "Roboto", sans-serif;
}
.span-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.drop-text {
  font-family: "Roboto", sans-serif;
}
.heading-text {
  font-family: "Roboto", sans-serif;
}
.contact-no {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.contact-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.img-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 300;
}
.icon {
  font-family: "Roboto", sans-serif;
}
#btn-filter:hover .icon {
  @apply text-black;
}
#btn-offer:hover .offer-text {
  @apply text-white;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  @apply bg-inherit;
}
/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Set the background color */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the background color */
  border-radius: 4px; /* Make the thumb rounded */
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
