@tailwind base;
@tailwind components;
@tailwind utilities;

h5 {
  font-family: "Roboto", sans-serif;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.search-bar {
  font-family: "Roboto", sans-serif;
}
.category-links {
  font-family: "Roboto", sans-serif;
}
span {
  font-family: "Roboto", sans-serif;
}
.span-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.drop-text {
  font-family: "Roboto", sans-serif;
}
.heading-text {
  font-family: "Roboto", sans-serif;
}
.contact-no {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.contact-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.img-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 300;
}
.icon {
  font-family: "Roboto", sans-serif;
}
#btn-filter:hover .icon {
  @apply text-black;
}
#btn-offer:hover .offer-text {
  @apply text-white;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  @apply bg-inherit;
}
/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Set the background color */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the background color */
  border-radius: 4px; /* Make the thumb rounded */
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

.hover\:bg-bar:hover {
  background: url("src/assets/Images/product5.jpg");
}

.link-text {
  /* overflow-wrap: break-word; */
  word-break: break-all;
  /* inline-size: 50%; */
}

/* .best-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }

.best-links:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
} */

.best-links a {
  position: relative; /* Set position property to relative */
  color: black; /* Set default text-color */
  transition: color 0.5s ease-in-out; /* Smooth transition for color change */
}

.best-links a::before {
  content: attr(data-text); /* Get the text from data-text attribute */
  position: absolute; /* Set position property to absolute */
  top: 0; /* Align with the top of the text */
  left: 0; /* Align with the left of the text */
  color: green; /* Set the initial color of the text */
  overflow: hidden; /* Hide the overflow of the text */
  transition: width 0.5s ease-in-out; /* Smooth transition for width change */
  width: 0;
}

.best-links a:hover::before {
  width: 100%;
}

.best-links a:hover::before {
  color: black;
}

.best-links a:hover::before {
  -webkit-text-fill-color: transparent; /* Hide original text color */
  -webkit-background-clip: text; /* Apply background color to text only */
  background-color: green;
}

.deals-body:hover .hover-text-one {
  display: flex;
  flex-direction: column;
}

.deals-body:hover .hover-text-two {
  display: flex;
}

.deals-body:hover {
  transition-duration: 3s ease-in-out;
  transform-origin: bottom;
  transition-delay: 4s;
}
